<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title lang="en">
            Pets For Students
        </title>
    </head>
    <body>
        <div>
            <img src="{% static 'images/cats_with_fire.jpg' %}" alt="Picture of Bingus"/>
        </div>
        <div>
            <h1>All the cats are:</h1>
            <ul>
            {% for cat in cat_list %}
                <li>{{cat}}</li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <p>Click to go back <a href="{% url 'pets_for_students:index' %}">Home</a></p>
        </div>
    </body>
</html>
